body{
    margin: 0;
    padding: 0;
    font-family: "baloo bhaina 2", "sant-serif";
    font-size: 16px;
}

.contact-text-320 {
    display: none;
}

.contact-text-m320 {
    display: block;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.direct-link {
    color: blue;
    text-decoration: underline;
}

button {
    cursor: pointer;
}

.grid-container {
    max-width: 1024px;
    margin: auto;
}

h2 {
    text-align: center;
    padding: 10px;
    margin: 20px 130px 20px;

}

/* Header  */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 20px;
}

.header-image{
    height: 75px;
}

.header-image img {
    height: 100%;
    width: auto;
}

header ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.header-links {
    padding: 0;
}

.header-links a {
    color: rgb(0,23,68);
}

li {
    margin:0 10px;
}


/* Header  */

/* Hero  */

.hero{
    height: 300px;
    width: 100%;
    background-image: url("../images/hero.png");
    background-size: contain;
    padding-top: 100px;
    text-align: center;
}
.hero h1 {
    color: rgb(90,181,140);
    font-family: "roboto slab", "sant-serif";
    margin-top: 5px;
}

.hero h2 {
    color: white;
    font-family: "roboto slab", "sant-serif";
    padding: 0;
    margin-bottom: 5px;
}

button {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 5px 40px 5px 40px;
}


/* Hero  */

/* Perfil */

.perfil-container {
    display: grid;
    grid-template-columns: 25% 75%;
}

.perfil-container div {
    padding: 10px;
}

.perfil-dates {
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}

.perfil-text {
    border: 1px solid black;
}

/* Perfil */

/* Project  */

.project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px ;
}

.project-item {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #909090;
    border-radius: 20px;
    text-align: center;
}

.project-button {
    padding: 10px 75px;
    font-size: 1.2em;
    background-color: #60E315;
    border: 1px solid black;
    border-radius: 50px;
}

/* Project  */

 /* Contact  */

.contact{
    background-color: #909090;
    width: auto;
    padding: 20px;
}

.contact-text {
    font-size: 2em;
    text-align: center;
}

.contact-text p {
    margin: 0;
}

.contact-icons{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.contact-icons a {
    margin: 0 25px;
}

/* Contact  */

/* Footer  */
    
footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    height: 50px;
    background-color: black;
    border-top: 30px solid #FAA039;
}

/* Footer  */

/* Media querys */

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 767px){
    .perfil-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .perfil-dates {
        border: 1px solid black;
        margin: 0 20px 10px;
    }
    
    .perfil-text {
        border: 1px solid black;
        margin: 0 20px 10px;
    }
    
   
    .project {
        display: grid;
        grid-template-columns: 1fr;
    }

    .project-item {
        margin: 20px 10px;
    }
}

@media screen and (max-width: 480px){
    
    header {
        position: static;
        display: block;
        text-align: center;
        padding-bottom: 5px;
    }
    .header-name {
        display: none;
    }

    header ul{
        display: block;
        margin-bottom: 0;
    }
    
    h2 {
        margin: 20px 25px 20px;
    }

    .contact{
        background-color: #909090;
        width: auto;
        padding: 20px 40px;
    }

    .contact-icons {
        font-size: .5em;
    }

    .contact-icons a {
        margin: 0 5px;
    }

    footer {
        justify-content: center;
    }

}

@media screen and (max-width: 320px) {
    .contact-text-320 {
        display: block;
    }

    .contact-text-m320 {
        display: none;
    }

    .contact{
        background-color: #909090;
        width: auto;
        padding: 20px;
    }
}
